* {
    font-family: monospace;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

#header{
    background-color: #07689f;
    box-shadow: 0px 0px 10px #07689f;
    flex-basis: 80px;
    z-index: 1;
}
#header h1{
    padding-left: 50px;
    font-size: 36px;
    font-style: italic;
    text-shadow: 0px 0px 3px #a2d5f2;
    color: #fafafa  ;
}

#content {
    background: linear-gradient(to bottom, #a2d5f2, #fafafa );

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    min-height: 80px;
}

#container-calc {
    display: flex;
    padding: 20px;
    min-width: 400px;

    flex-direction: column;
    align-items: center;
    background: linear-gradient(to bottom left,#ffccd5, #ffc0cb );
    max-width: fit-content;

    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px gray;
}

.line {
    display: flex;
    flex: 1 1 400px;
    align-items: flex-start;
    justify-content: center;
    max-height: 100px;
    aspect-ratio: 4/1;
    padding: 0;
    gap: 0px;
    margin: 0;

}

.calculator {
    flex: 1;
    aspect-ratio: 1/1;
    padding: 0;
    width: auto;
    box-sizing: border-box;
    margin: 5px;

    font-weight: 700;
    font-size: 32px;
    border: 0;
    border-radius: 15px;
    box-shadow:  0px 0px 5px black;
    color: #ff6666;

    background-color: #ff6666;
    color: white;

    cursor:pointer
}

.calculator:active{
    box-shadow:  inset 0px 0px 5px black;
    background-color: #e55b5b;
}

.calculator.operation, .calculator.equal, .calculator.delete {
    background-color: white;
    color: #ff6666;
}
.calculator.operation:active, .calculator.equal:active, .calculator.delete:active {
    background-color: #e5e5e5;
}

.calculator.equal {
    flex-basis: 1 0 190px;
    min-width: 190px;
    box-sizing: content-box;
    margin-bottom: 10px;
    height: 90;
    aspect-ratio: 19/9;

}

.calculator.delete {
    font-size: 36px;
}

#display {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;

    min-width: 100%;
    min-height: 70px;
    margin-bottom: 20px;
    padding-right: 5px;
    padding-left: 5px;
    font-size: 36px;
    font-weight: bold;

    font-family: 'Courier New', Courier, monospace;

    color: #484c3d;
    background-color: #F1FFCC;
    box-shadow: inset 0px 0px 5px 0px #606651;
}

#footer {
    background-color: #ff7e67;
    box-shadow: 0px -1px 10px #ff7e67;
    padding: 0;
    flex-basis: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 50px;
    font-weight: bold;
    color: #f4eeff;
}

a {
    font-weight: 900;
    text-decoration: none;
    color: #f4eeff;
}